[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "ledoged/public"]
	path = ledoged/public
	url = https://github.com/fatalnyl/ledoged.github.io.git
	branch = master
